body {
    background-color: #38988c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1px 8px;
}

#innerItem {
    display: flex;
    flex-direction: column;
    width: 225px;
    height:fit-content;
    margin: 8px 3px;
    padding: 10px;
    background-color: #C38D9E;
    border-radius: 15px;
}

#innerItem:hover {
    background-color: #8d6572;
    flex-direction: row;
    cursor: pointer;
    width: 500px;
}

img {
    width: 225px;
    height: 318px;
    border-radius: 12px;
}

#anime_name {
    text-align: left;
    width: 225px;
    height: 18px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
}

.inputForm {
    margin-bottom: 14px;
}

.inputForm Form {
    margin-right: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#topBar #info {
    margin: 12px;
    font-size: 20px;
}

form a {
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-color: #5f5f5f;
    border-width: 1px;
    text-decoration: none;
    background-color: rgb(206, 206, 255);
    border-radius: 25px;
    padding: 5px;
    margin-right: 8px;
}

form a:visited {
    color: black;
}

#appTitle a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px #38988c;
    width: 20px;
    border-radius: 40px;
    padding: 10px;
    font-size: 30px;
}

#appTitle a:visited {
    color: rgb(255, 255, 255);
}

#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #41B3A3;
    align-items: baseline;
    justify-content: space-between;
}

input[type=text] {
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    width: 40%;
    margin-bottom: 15px;
}

input[type=submit] {
    background-color: rgb(206, 206, 255);
    border-radius: 25px;
    padding: 5px;
    margin: 8px;
}

#anime_synopsis {
    display: none;
    height: 318px;
    padding: 0;
    margin: 0;
}

#anime_synopsis:hover {
    display: block;
}

#innerItem:hover img {
    display: block;
}

#innerItem:hover #anime_synopsis {
    display: block;
    overflow-x: hidden;
}

#innerItem:hover #anime_name {
    text-align: left;
    width: 225px;
    height: 18px;
    overflow:visible;
    display: inline-block;
    /* text-overflow: ellipsis; */
    white-space: wrap;
    padding: 10px;
}
#anime_synopsis::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #C38D9E;
}

#anime_synopsis::-webkit-scrollbar
{
	width: 12px;
	background-color: #C38D9E;
}

#anime_synopsis::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #E8A87C;
}

#navBarItems {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#navigation {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
}

#navigation a {
    padding: 8px;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-color: #38988c;
    font-size: 17px;
    background-color: #E27D60;
    color: black;
    border-bottom-width: 0;
}
#navigation a:visited {
    color: black;
}

#image_title svg {
    width: 17px
}

#nextBtn {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    #innerItem {
        width: 180px;
        height: 288px;
    }

    img {
        width: 180px;
        height: 288px;
    }
}