{% extends 'base.html' %}
{% block nav %}
<div class="inputForm">
    <form action="/seasonal" method="POST">
        <input type="text" name="year" placeholder="Year" id="year" required>
        <input type="text" name="season" placeholder="Season" id="season" required>
        <input type="submit" value="search" id="search">
    </form>
</div>
{% endblock %}
{% block main %}
<div id="topBar">
    <div id="info">
        <h4>{{year}}/{{season}}</h4>
    </div>
</div>
<div id="container">
    {% for item in animes %}
    <div id="innerItem">
        <div id="image_title">
            <div id="anime_poster">
                <img src="{{item.images.jpg.image_url}}" alt="">
            </div>
            <div id="anime_name">
                <b>{{item.title}}</b>
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
                    fill="currentColor" />
            </svg>
        </div>
        <div id="anime_synopsis">
            <p>{{item.synopsis}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

</html>