{% extends 'base.html' %}
{% block nav %}
{% endblock %}
{% block main %}
<div id="topBar">
    <div id="info">
        <h4>Top Manga</h4>
    </div>
</div>
<div id="container">
    {% for item in manga %}
    <div id="innerItem">
        <div id="image_title">
            <div id="anime_poster">
                <img src="{{item.images.jpg.image_url}}" alt="">
            </div>
            <div id="anime_name">
                <b>{{item.title}}</b>
            </div>
        </div>
        <div id="anime_synopsis">
            <p>{{item.synopsis}}</p>
        </div>
    </div>
    {% endfor %}
</div>
<form action="/top_manga" method="POST">
    <p>{{current_page_number}}</p>
    <button id="#nextBtn" name="next_page" value="next_page">{{next_page_number}}</button>
</form>
{% endblock %}

</html>